<button mat-raised-button color="accent" routerLink="/curso/listado">Volver</button>
<div class="container">
    <h1>Editar Curso</h1>
</div>
<div class="container">
    <form
      class="example-form"
      (ngSubmit)="guardar(miFormulario)"
      #miFormulario="ngForm"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" ngModel name="nombre" [value]="nombre" />
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Fecha Inicio</mat-label>
        <input
          matInput
          ngModel
          name="inicio"
          type="date"
          [value]="inicio"
        />
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Fecha Fin</mat-label>
        <input
          matInput
          ngModel
          name="fin"
          type="date"
          [value]="fin"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Horas (Duración)</mat-label>
        <input
          matInput
          placeholder="Horas(Duración)"
          ngModel
          name="horas"
          type="number"
          [value]="hora"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Costo</mat-label>
        <input
          matInput
          placeholder="Costo"
          ngModel
          name="costo"
          type="number"
          step="any"
          [value]="costo"
        />
      </mat-form-field>
  
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <button mat-stroked-button color="accent">Actualizar</button>
        </mat-grid-tile>
      </mat-grid-list>
  
    </form>
  </div>